[submodule "websocket-sharp"]
	path = websocket-sharp
	url = https://github.com/sta/websocket-sharp
[submodule "ws-server-echo/docker-spin-up"]
	path = ws-server-echo/docker-spin-up
	url = https://github.com/garcia556/docker-spin-up.git
